.baseHeaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.baseHeader {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 112px;
    border-bottom: 1px solid #49525A;
}

.patronLogo {
    margin-left: 8.3%;
}

@media (max-width: 1440px) {
    .baseHeader {
        width: 100%;
    }
}

@media (max-width: 860px) {
    .baseHeader {
        border-top: 1px solid #49525A;
    }
}

@media (max-width: 860px) {
    .baseHeader {
        padding-right: 8.5%;
    }
}

@media (max-width: 460px) {
    .baseHeader {
        width: 100%;
        height: 80px;
        padding: 4%;
    }

    .patronLogo {
        margin-left: 0;
        width: 120px;
    }

    .patronLogo img {
        width: 120px;
    }
}