.userContextBlock {
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 120px;
    column-gap: 40px;
    top: 36px;
}

@media (max-width: 1440px) {
    .userContextBlock {
        right: 8.3%;
    }
}

@media (max-width: 790px) {
    .userContextBlock {
        right: 4%;
    }
}