.profileButton, .disconnectButton {
    width: 40px;
    height: 40px;
    background: #21282F;
    border: 1px solid #49525A;
    box-shadow: 0 10px 80px -10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.profileButton {
    margin-right: 10px;
}



