.connectToPatron, .connectedToPatron {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 8px;
    float: left;

    border-radius: 10px;
    border: 1px solid #49525A;
}

.connectToPatron p, .connectedToPatron {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    color: #ECEDF1;
}

.connectToPatron:hover {
    cursor: pointer;
    background: #49525A;
}

.connectedToPatron {
    background: #49525A;
}