.contractButtons {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    height: 100%;
    align-items: flex-end;
}

.info, .log, .code {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 6px;
    border-radius: 20px;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #ECEDF1;
    height: 40px;
}

.info {
    width: 95px;
}

.log {
    width: 126px;
}

.code {
    width: 102px;
}

@media (max-width: 460px) {
    .contractButtons {
        column-gap: 10px;
    }
}
