.accountList {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.rowWrapper {
    background: #29323B;
    border: 1px solid #49525A;
    border-radius: 10px;
}

.rowWrapper:hover {
    cursor: pointer;
    filter: brightness(120%);
}

.row {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    padding: 10px;
    column-gap: 10px;
}

.rowInfo {
    display: flex;
    flex-direction: column;
}

.name, .address {
    color: #ECEDF1;
    line-height: 100%;
}

.name {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 6px;
}

.address {
    font-weight: 400;
    font-size: 12px;
}

.noAccountDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 70px;
}

.noAccountText {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #ECEDF1;
}

.chooseWalletButton {
    width: 87%;
    height: 39px;

    background: #4170E7;
    border-radius: 80px;
    border: none;
    margin-top: 64px;

    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    color: #ECEDF1;
}

.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #49525A;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
