.userContractsList {
    width: 100%;
    height: 519px;
    margin-bottom: 98px;

    background: #21282F;
    border: 1px solid #49525A;
    box-shadow: 0px 10px 80px -10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: auto;
}

.userContractsList::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.ListHeader {
    position: relative;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #49525A;
    padding: 30px 30px 20px 30px;
}

.listRow {
    position: relative;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #49525A;
    padding: 20px 30px;

}

.listColumnHeader, .listColumnHeaderTime {
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    color: #ECEDF1;
}

.listColumnHeaderTime {
    position: absolute;
    left: 255px;
}

.noDataText {
    margin: 30px;
    font-weight: 500;
}

.codeHash {
    display: flex;
}

.codeHash p {
    color: #4170E7;
    font-size: 14px;
}

.time {
    font-size: 14px;
    position: absolute;
    left: 255px;
}

@media (max-width: 660px) {
    .ListHeader {
        padding: 20px 20px 10px 20px
    }

    .listRow {
        padding: 10px 20px;
    }

    .listColumnHeader, .listColumnHeaderTime {
        font-size: 16px;
    }

    .codeHash p, .time {
        font-size: 12px;
    }

    .time, .listColumnHeaderTime {
        position: static;
        left: 0;
        margin-left: 14%;
    }

    .noDataText {
        margin-left: 20px;
    }

    .listColumnHeader {
        width: 132px;
    }
}
