.userContractsListWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    height: 380px;
    margin-top: -1px;
    margin-bottom: 98px;
    padding: 10px;
    background: #21282F;
    border: 1px solid #49525A;
    box-shadow: 0px 10px 80px -10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    overflow: hidden;
}

.userContractsList {
    display: flex;
    flex-direction: column;
    height: 100%;
    row-gap: 10px;
    padding-right: 10px;
    overflow: auto;
}

.userContractsList::-webkit-scrollbar {
    width: auto;
}

.userContractsList::-webkit-scrollbar-track {
    width: 2px;
    background-color: #49525A;
    border: 6px solid transparent;
    background-clip: content-box;
}

.userContractsList::-webkit-scrollbar-thumb {
    background-color: #B0B7BF;
    height: 125px;
    width: 6px;
    border: 4px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
}

.ListHeader {
    position: relative;
    width: 100%;
    height: auto;
    background: #21282F;
    border: 1px solid #49525A;
    box-shadow: 0px 10px 80px -10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.listRow {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 20px;
    background: #29323B;
    border-radius: 10px;
}

.listColumnHeaderHash, .listColumnHeaderTime {
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #ECEDF1;
    text-transform: uppercase;
}

.listColumnHeaderHash {
    width: 153px;
}

.listColumnHeaderTime {
    margin-left: 110px;
}

.noDataText {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: 600;
    font-size: 24px;
}

.codeHash {
    display: flex;
}

.codeHash p {
    color: #4170E7;
    font-size: 14px;
    width: 153px;
}

.time {
    font-size: 14px;
    margin-left: 110px;
}

@media (max-width: 700px) {
    .ListHeader {
        padding: 20px 30px;
    }

    .listRow {
        padding: 10px 20px;
    }

    .listColumnHeaderHash, .listColumnHeaderTime {
        font-size: 16px;
    }

    .codeHash p, .time {
        font-size: 12px;
    }

    .time, .listColumnHeaderTime {
        margin-left: 14%;
    }

    .noDataText {
        font-size: 16px;
    }

    .listColumnHeaderHash, .codeHash p {
        width: 136px;
    }

    .noDataText {
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    .userContractsList::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }

    .userContractsList {
        padding-right: 0;
    }
}
