.walletListBlock {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 10px;
    margin-top: 20px;
}

.walletRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.walletListItem {
    width: 100%;
    background-color: #29323B;
    border: none;
    border-radius: 10px;
    padding: 0;
}

.name {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #ECEDF1;
}