.mainContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #141D25;
}

.loginButton {
    position: absolute;
    width: 104px;
    height: 43px;
    top: 40px;
    right: 156px;
    background: #4170E7;
    border-radius: 5px;
    border: 0;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #ECEDF1;
}

.mainDiv {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 33%;
    margin-bottom: 240px;
}

.mainLogo {
    width: 394px;
}

.polkadotNote {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 23px;
    margin-bottom: 60px;
}

.polkadotNote p {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #49525A;
}

@media (max-height: 940px) {
    .mainDiv {
        position: absolute;
        top: 34%;
        padding-top: 0;
    }
}

@media (max-height: 650px) {
    .mainDiv {
        position: static;
        padding-top: 220px;
        margin-bottom: 100px;
    }
}

@media (max-width: 1440px) {
    .loginButton {
        right: 10.8%;
    }
}

@media (max-width: 790px) {
    .mainDiv {
        width: 94%;
    }

    .loginButton {
        right: 3%
    }
}

@media (max-width: 460px) {
    .mainLogo {
        width: 90%;
    }
}