.profile {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #141D25;
}

.mainBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 180px;
    width: 1200px;
}

.addressWrapper {
    width: 100%;
    margin-bottom: 36px;
}

@media (max-width: 1440px) {
    .mainBlock {
        width: 83.3%;
    }
}

@media (max-width: 900px) {
    .mainBlock {
        padding-top: 146px;
    }
}

@media (max-width: 460px) {
    .mainBlock {
        padding-top: 123px;
        width: 92%;
    }

    .addressWrapper {
        margin-bottom: 20px;
    }
}

