.profile {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #141D25;
}

.mainBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 183px;
    width: 1200px;
}

@media (max-width: 1440px) {
    .mainBlock {
        width: 83.3%;
    }
}

@media (max-width: 460px) {
    .mainBlock {
        padding-top: 123px;
        width: 92%;
    }
}

