.footerContainer {
    position: fixed;
    width: 100%;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    row-gap: 10px;
}

.footer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.footerDocsWrapper {
    margin-left: 24px;
}

.footerDocs {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    padding: 0 18px;
    align-items: center;
    width: 156px;
    height: 36px;
    background: #49525A;
    border-radius: 30px;
}

.footerDocs p {
    font-weight: 400;
    font-size: 16px;
    color: #ECEDF1;
    padding-top: 2px;
}

.footerDocs:hover {
    cursor: pointer;
    filter: brightness(120%);
}

.footerContactsBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 36px;
    padding: 0 20px;
    margin: 0 20px;
    border-left: 1px solid #ECEDF1;
    border-right: 1px solid #ECEDF1;
}

.footerContactsBlock a:hover {
    filter: brightness(140%);
}

.footerContactsBlock a {
    display: flex;
    flex-direction: row;
}

.footerMobileBorder {
    display: none;
}

@media (max-height: 900px) and (max-width: 640px){
    .footerContainer {
        position: static;
        padding-bottom: 40px;
    }
}

@media (max-height: 650px) and (min-width: 641px){
    .footerContainer {
        position: static;
        padding-bottom: 40px;
    }
}

@media (max-width: 640px) {
    .footer {
        width: 94%;
        flex-direction: column;
        row-gap: 30px;
    }

    .footerContactsBlock {
        border: none;
        column-gap: 24px;
    }

    .footerDocsWrapper {
        margin-left: 0;
    }

    .footerMobileBorder {
        display: block;
        width: 100%;
        border-bottom: 1px solid #49525A;
    }
}