
.addressBlock {
    display: flex;
    flex-direction: column;
    width: 655px;
    height: auto;
    padding: 30px;
    row-gap: 14px;
    background: #21282F;
    border: 1px solid #49525A;
    border-radius: 20px;
}

.addressBlockInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name {
    font-weight: 600;
    font-size: 30px;
    margin-left: 10px;
}

.copyButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    background-color: transparent;
    border: 0;
    font-weight: 400;
    line-height: 120%;
    color: #ECEDF1;
    height: 26px;
}

.copyButton:hover {
    filter: opacity(0.4);
}

.copyIcon {
    margin-left: 13px;
    width: 19px;
}

.address {
    display: block;
}

.addressText {
    font-size: 24px;
}

.verifiedIcon {

}

@media (max-width: 920px) {
    .addressBlock {
        width: 100%;
    }
}

@media (max-width: 460px) {
    .addressText {
        font-size: 18px;
    }

    .copyIcon {
        width: 12px;
        margin-left: 5px;
    }

    .name {
        font-size: 20px;
    }

    .addressBlock {
        padding: 20px;
    }

    .verifiedIcon {
        width: 107px;
    }
}



