
.addressBlock {
    display: flex;
    flex-direction: column;
    width: 655px;
    height: auto;
    padding: 30px;
    row-gap: 14px;
    background: #21282F;
    border: 1px solid #49525A;
    border-radius: 20px;
}

.addressBlockTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name {
    font-weight: 600;
    font-size: 30px;
    margin-left: 10px;
}

.copyButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    background-color: transparent;
    border: 0;
    font-weight: 400;
    line-height: 120%;
    color: #ECEDF1;
    height: 26px;
}

.copyButton:hover {
    filter: opacity(0.4);
}

.copyButton img {
    margin-bottom: 1px;
    margin-left: 12px;
}

.addressBlockBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.address {
    display: block;
}

.addressText {
    font-size: 24px;
}

.verifiedIcon {

}

.phalaLabel {
    display: flex;
    flex-direction: row;
    padding: 5px 15px 5px 5px;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    border: 1px solid #757A80;
    background: #49525A;
}

.phalaLabel:hover {
    cursor: pointer;
    filter: brightness(120%);
}

.phalaLabel p {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    color: #ECEDF1;
}

.phalaLabel img {
    width: 30px;
    height: 30px;
}

@media (max-width: 1300px) {
    .addressBlock {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .addressBlockBottom {
        align-items: flex-start;
        flex-direction: column-reverse;
        row-gap: 14px;
    }
}

@media (max-width: 490px) {
    .addressText {
        font-size: 18px;
    }

    .copyButton img {
        width: 12px;
        margin-left: 5px;
    }

    .name {
        font-size: 20px;
    }

    .addressBlock {
        padding: 20px;
        row-gap: 24px;
    }

    .verifiedIcon {
        width: 107px;
    }

    .phalaLabel {
        padding: 5px 12px 5px 5px;
        gap: 8px;
        row-gap: 24px;
    }

    .phalaLabel p {
        font-size: 14px;
    }

    .phalaLabel img {
        width: 20px;
        height: 20px;
    }
}