.codeWrapper {
    width: 100%;
    padding: 30px 30px 0 30px;
    max-width: 1200px;
    margin-bottom: 80px;
    background: #21282F;
    border: 1px solid #49525A;
    border-radius: 10px;
    overflow: hidden;
}

.code {
    width: 100%;
    height: 476px;
    overflow-y: auto;
}

.code::-webkit-scrollbar {
    width: auto;
}

.code::-webkit-scrollbar-track {
    width: 2px;
    background-color: #49525A;
    border: 6px solid transparent;
    background-clip: content-box;
}

.code::-webkit-scrollbar-thumb {
    background-color: #B0B7BF;
    height: 125px;
    width: 6px;
    border: 4px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
}

.code::-webkit-scrollbar-corner {
    width: 0;
    background: transparent;
}

.code p {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-size: 12px;
    line-height: 140%;
    color: #FFFFFF;
}

@media (max-width: 500px) {
    .codeWrapper {
        padding: 20px 20px 0 20px;
    }

    .code {
        -ms-overflow-style: none;
    }

    .code::-webkit-scrollbar {
        width: 0;
        height: 0;
        background: transparent;
    }
}
