.codeWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 80px;
}

.code {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    max-width: 1200px;
    margin-bottom: 80px;
    background: #21282F;
    border: 1px solid #49525A;
    border-radius: 10px;
    height: 476px;
    margin-top: 20px;
    overflow: auto;
}

.code::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.code p {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-size: 12px;
    line-height: 140%;
    color: #FFFFFF;
}
