.diagnosticBlockWrapper {
    width: 100%;
    max-width: 1200px;
    background: #21282F;
    border: 1px solid #49525A;
    box-shadow: 0 10px 80px -10px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    margin-bottom: 45px;
    overflow: hidden;
    padding: 20px 20px 0 20px;
}

.diagnosticBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 511px;
    overflow: auto;
    gap: 10px
}

.diagnosticBlock::-webkit-scrollbar {
    width: auto;
}

.diagnosticBlock::-webkit-scrollbar-track {
    width: 2px;
    background-color: #49525A;
    border: 6px solid transparent;
    background-clip: content-box;
}

.diagnosticBlock::-webkit-scrollbar-thumb {
    background-color: #B0B7BF;
    height: 125px;
    width: 6px;
    border: 4px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
}

.warning {
    border-radius: 8px;
    border: 1px solid rgba(235, 218, 61, 0.80);
    background: rgba(235, 218, 61, 0.10);
}

.error {
    border-radius: 8px;
    border: 1px solid rgba(222, 20, 20, 0.80);
    background: rgba(222, 20, 20, 0.10);
}

.warning, .error {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.warning p, .error p {
    font-family: 'Space Mono', monospace;
    color: #ECEDF1;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.noWarningText {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-weight: 600;
    font-size: 24px;
    color: #ECEDF1;
}

@media (max-width: 500px) {
    .diagnosticBlockWrapper {
        padding: 20px 20px 0 20px;
    }

    .diagnosticBlock {
        -ms-overflow-style: none;
    }

    .diagnosticBlock::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }
}
