@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

.loginLayout {
    height: 100vh;
    background: #141D25;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formDiv {
    position: absolute;
    top: 29%;
    width: 384px;
    height: 350px;

    background: #21282F;
    border: 1px solid #4D495A;
    box-shadow: 0 10px 80px -10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.headerTextDiv {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #4D495A;
}

.headerTextDiv p {
    font-family: 'Work Sans', sans-serif;
    color: #ECEDF1;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
}

@media (max-height: 650px) {
    .formDiv {
        position: relative;
        margin-top: 183px;
        top: 0;
        margin-bottom: 40px
    }

    .loginLayout {
        height: 650px;
    }
}

@media (max-width: 460px) {
    .formDiv {
        width: 90%;
    }
}